################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SDL Audio/v15
/SDL Audio/x64/Debug
